@import url('https://fonts.googleapis.com/css?family=Cabin');

html {
    font-family: 'Cabin', sans-serif;
}

body {
    max-width: 900px;
    margin: auto;
}

.main-menu a {
    color: black;
    white-space: nowrap;
}

.main-menu a:hover {
    color: #ffebcc;
}

.main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    padding: 1.5rem;
    font-size: 1.5rem;
}

.banner {
     overflow: hidden;
     margin-bottom: 1rem;
}

.banner img {
     width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

.centered p {
   margin-top: 0; 
}

#home {
  clear: both;
  overflow: hidden;
  margin-bottom: 2rem;
}

h1 {
    margin-bottom: 0;
    font-size: 3rem;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: black;
    text-align: center;
}

h1 a:hover {
    color: #ffebcc;
}


h2 {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 2rem;
}

h3 {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1.5rem;
}

.content-image {
    float: left;
    width: 40%;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

#home p {
    margin-top: 0;
    font-size: 1rem;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipe {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
}

.recipe img {
    width: 100%;
    margin-bottom: 1rem;
}

.recipe a {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
}

#recipes {
    margin-bottom: 2rem;
}

.social-image {
    width: 80px;
    height: 80px;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-buttons a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#social-links {
    margin-bottom: 2rem;
}
#contact form {
    font-size: 1.5rem;
    width: 50%;
}

#contact form div {
    margin-bottom: 1.5rem;
}

#contact form input:not([type=submit]) {
    font-size: 1.5rem;
    width: 100%;
}

#contact form input[type=submit] {
    background-color: #ffebcc;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}

.recipe-image {
    width: 50%;
    float: left;
    margin-bottom: 2rem;
}

.recipe-text {
    width: 50%;
    float: right;
}

.recipe-image img {
    width: 100%;
}

.recipe-text p {
    padding: 0 1rem 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.recipe-text ul {
    font-size: 1.25rem;
    margin-top: 0;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
    margin-left: 0;
    background-color: white; 
    display: none;
}

@media only screen and (max-width: 700px) {
    #contact form {
        width: 90%;
    }
    
    .main-menu ul {
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
    
     .main-menu ul li {
         padding: 0.5rem;
         text-align: center;
     }
     
     .recipe-container {
         flex-direction: column;
     }
     
     .recipe {
         margin-bottom: 2.5rem;
     }
     
     .recipe a {
         font-size: 1.5rem;
     }
     
     h1 {
         font-size: 2rem;
     }
     
     #home p {
         font-size: 1.3rem;
         padding-left: 1rem;
         padding-right: 1rem;
     }
     
     .content-image {
         width: 100%;
     }
     
     .recipe-image {
         width: 100%;
         clear: both;
     }
     
     .recipe-text {
         width: 100%;
         clear: both;
     }
     
     h2 {
         font-size: 1.5rem;
         text-align: center;
     }
}

